:root {
  font-family: "Noto Sans", sans-serif;
}

main {
  background-color: rgb(222, 222, 226);
}

body {
  margin: 0;
}

input {
  font-family: "Noto Sans", sans-serif;
}

button {
  font-family: "Noto Sans", sans-serif;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.align {
  display: flex;
  align-items: center;
}

.justify {
  display: flex;
  justify-content: center;
}

#main {
  width: 100%;
  justify-content: space-evenly;
  gap: 18px;
  margin-block: 3rem;
  padding-inline: 2rem;
  box-sizing: border-box;
}

header {
  height: 4rem;
  background-color: #fefbf8;
  display: flex;
  align-items: center;
  border-bottom: 1px rgb(210, 210, 210) solid;
}

header > nav > a {
  text-decoration: none;
  color: black;
  font-size: larger;
  margin-inline: 1em;
}

header > nav > a:hover {
  color: grey;
}

header > nav > a:active {
  color: rgb(77, 77, 77);
}

#story {
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 4px;
  padding: 4rem 5rem;
  background-color: #fefbf8;
  color: black;
  border-radius: 2px;
  min-height: 58rem;
  align-content: flex-start;
  box-shadow: 2px 2px 10px rgb(156, 156, 156);
}

#title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 4px;
  font-size: x-large;
}

#title input {
  font-size: x-large;
}

#story::after, #title::after {
  content: '';
  flex: auto;
}

#vote-input {
  width: 10em;
  height: min-content;
  border: 0;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  border-radius: 6px;
  caret-color: red;
}

#votes-container {
  width: 30rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 18px;
}

#votes {
  display: none;
  flex-direction: column;
  width: 100%;
}

#votes-timer {
  width: 0px;
  background-color: aqua;
  color: black;
  border-radius: 999px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
}

#num-users {
  width: 10rem;
}

#end-story {
  background-color: rgb(239, 66, 66);
  color: white;
  outline: none;
  border: none;
  border-radius: 1em;
  padding: 1em 1em;
  width: fit-content;
  font-weight: bold;
}

#end-story:hover {
  background-color: rgb(239, 66, 66, 0.6);
  color: rgba(255, 255, 255, 0.9);
}

#end-story:active {
  background-color: rgb(239, 66, 66, 0.3);
  color: rgba(255, 255, 255, 0.9);
  transform: translate(2px, 1px);
}

#end-story:disabled {
  background-color: rgba(122, 36, 36, 0.3);
  color: rgba(189, 189, 189, 0.9);
}

#end-story:disabled:active {
  transform: translate(0);
}